<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>musicsArray</key>
	<array>
		<dict>
			<key>name</key>
			<string>Vết Thương Trong Em - Mi Jun</string>
			<key>link</key>
			<string>http://vnno-zn-5-tf-mp3-s1-zmp3.zadn.vn/f227642e6c6a8534dc7b/4748361903092901302?authen=exp=1623895923~acl=/f227642e6c6a8534dc7b/*~hmac=252bd29c36acf09aadee9c8e99f9417e</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Đêm Trắng - Nhật Kim Anh</string>
			<key>link</key>
			<string>http://vnno-vn-5-tf-mp3-s1-zmp3.zadn.vn/2ccfadd3a5974cc91586/4104633396199799205?authen=exp=1623897603~acl=/2ccfadd3a5974cc91586/*~hmac=a1c554f8de151ccc58ed0b881f40751f</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Yêu Là Phải Thương (Version 2) - Võ Kiều Vân</string>
			<key>link</key>
			<string>http://vnno-vn-6-tf-mp3-s1-zmp3.zadn.vn/64458215f951100f4940/8285158802226636588?authen=exp=1623897683~acl=/64458215f951100f4940/*~hmac=7c4656cf287c2de732468902df6dc5bc</string>
		</dict>
		<dict>
			<key>name</key>
			<string>unkonow</string>
			<key>link</key>
			<string>https://file-examples-com.github.io/uploads/2017/11/file_example_MP3_5MG.mp3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nếu Lúc Trước Anh Đừng Tới - Hoàng Oanh</string>
			<key>link</key>
			<string>http://vnno-zn-5-tf-mp3-s1-zmp3.zadn.vn/90198064fb20127e4b31/5185392315996087836?authen=exp=1623932243~acl=/90198064fb20127e4b31/*~hmac=355d7390a0b311b685fd0f9b76273d55</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Càng Yêu Càng Đau - Katy Trang</string>
			<key>link</key>
			<string>http://vnno-vn-6-tf-mp3-s1-zmp3.zadn.vn/0147aa81a3c54a9b13d4/3721185452596455399?authen=exp=1623932321~acl=/0147aa81a3c54a9b13d4/*~hmac=727796be57352142d25881503666041e</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vách Ngọc Ngà (New Version) - G5RSquad, Phan Ann</string>
			<key>link</key>
			<string>http://vnso-zn-5-tf-mp3-s1-zmp3.zadn.vn/62593e9a0adce382bacd/7927989858115335318?authen=exp=1623933775~acl=/62593e9a0adce382bacd/*~hmac=3b30fedaea2ffe165e1e6ff088bac09f</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hoa Hải Đường - Jack</string>
			<key>link</key>
			<string>http://vnso-zn-10-tf-mp3-s1-zmp3.zadn.vn/5ea0ffce4b89a2d7fb98/5383891903338973067?authen=exp=1623933896~acl=/5ea0ffce4b89a2d7fb98/*~hmac=f9599df9ef8d18501184cbbb5282d464</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lựa Chọn Của Anh - Thương Võ, ACV</string>
			<key>link</key>
			<string>http://vnso-zn-10-tf-mp3-s1-zmp3.zadn.vn/2f95eafef8b811e648a9/6120311894786410834?authen=exp=1623933950~acl=/2f95eafef8b811e648a9/*~hmac=d036cf62a398ef217ce1077a961c6c7b</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vội Vã Yêu Nhau Vội Vã Rời - Lương Bích Hữu, Ngô Kiến Huy</string>
			<key>link</key>
			<string>http://vnno-zn-5-tf-mp3-s1-zmp3.zadn.vn/4e90b744be00575e0e11/690599970166960629?authen=exp=1623934055~acl=/4e90b744be00575e0e11/*~hmac=46249c43533461542623eae98cf7a0ff</string>
		</dict>
		<dict>
			<key>name</key>
			<string>------</string>
			<key>link</key>
			<string>http://vnso-zn-5-tf-mp3-s1-zmp3.zadn.vn/62593e9a0adce382bacd/7927989858115335318?authen=exp=1623933775~acl=/62593e9a0adce382bacd/*~hmac=3b30fedaea2ffe165e1e6ff088bac09f</string>
		</dict>
		<dict>
			<key>name</key>
			<string>------</string>
			<key>link</key>
			<string>http://vnso-zn-5-tf-mp3-s1-zmp3.zadn.vn/62593e9a0adce382bacd/7927989858115335318?authen=exp=1623933775~acl=/62593e9a0adce382bacd/*~hmac=3b30fedaea2ffe165e1e6ff088bac09f</string>
		</dict>
	</array>
</dict>
</plist>
